.card {
  width: 260px;
  height: 366px;
  border-radius: 4px;
  &:hover {
    box-shadow: 0 0 10px #82828b;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}

.aksiya {
  font-size: 15px;
  text-decoration: line-through;
  color: #82828b;
}

.card-body {
  font-family: "Inter 500";
}
